html{
    background: rgb(247,201,227);
    background: linear-gradient(60deg, rgba(247,201,227,1) 0%, rgba(199,199,254,1) 34%, rgba(0,212,255,1) 100%);
    height: 100%; 

    font-family: 'Nunito', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
    
}

h1{
    background-color: rgb(211, 101, 152);
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 5px rgb(88, 48, 76);
    text-shadow: 1px 1px 5px rgb(141, 35, 141);
}

.game-container{
    background-color: rgb(174, 238, 174);

    padding: 50px;
    padding-top: 20px;
    border-radius: 20px;
}

img{
    border-radius: 25%;
    width: 400px;
}

@media only screen and (max-width: 600px) {
    img{
        width: 100px;
    }
   
}

input{
    width: 100px;
    border-radius: 5px;
    border: 1px black solid;
    padding: 5px;
}

label{
    width: 100px;
    
}

.textfield-container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 30px;
    justify-content: flex-start;
}

button{
    width: 109px;
    margin-top: 20px;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    
    
}

button:hover{
    background-color: rgb(145, 240, 145);
}

